<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-office-menu" label="office">
  <item label="openoffice base">
    <action name="Execute">
      <command>ooffice -base</command>
    </action>
  </item>
  <item label="openoffice calc">
    <action name="Execute">
      <command>ooffice -calc</command>
    </action>
  </item>
  <item label="openoffice draw">
    <action name="Execute">
      <command>ooffice -draw</command>
    </action>
  </item>
  <item label="openoffice impress">
    <action name="Execute">
      <command>ooffice -impress</command>
    </action>
  </item>
  <item label="openoffice math">
    <action name="Execute">
      <command>ooffice -math</command>
    </action>
  </item>
  <item label="openoffice printeradmin">
    <action name="Execute">
      <command>ooffice-printeradmin</command>
    </action>
  </item>
  <item label="openoffice writer">
    <action name="Execute">
      <command>ooffice -writer</command>
    </action>
  </item>
</menu>

<menu id="apps-multimedia-menu" label="multimedia">
  <item label="vlc">
    <action name="Execute"><command>vlc</command></action>
  </item>
  <item label="amarok">
    <action name="Execute">
      <command>amarok</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="rhythmbox">
    <action name="Execute">
      <command>rhythmbox</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="k3b">
    <action name="Execute">
      <command>k3b</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="mplayer">
    <action name="Execute">
      <command>gmplayer</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>MPlayer</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="totem">
    <action name="Execute">
      <command>totem</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-graphics-menu" label="graphics">
  <item label="gimp">
    <action name="Execute">
      <command>gimp</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="gwenview">
    <action name="Execute">
      <command>gwenview</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="dia">
    <action name="Execute">
      <command>dia</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="inkscape">
    <action name="Execute">
      <command>inkscape</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="exit-menu" label="exit">
  <item label="logout">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
  <item label="shutdown">
    <action name="Execute">
      <command>sudo shutdown now</command>
    </action>
  </item>
  <item label="reboot">
    <action name="Execute">
      <command>sudo reboot</command>
    </action>
  </item>
</menu>

<menu id="root-menu" label="openbox3">
  <separator label="common" />
  <item label="terminal">
    <action name="Execute">
      <command>terminal</command>
    </action>
  </item>
  <item label="firefox">
    <action name="Execute">
      <command>firefox</command>
    </action>
  </item>
  <menu id="rhythmbox-menu" label="rhythmbox" execute="obmenus rhythmbox" />
  <menu id="home-menu" label="home" execute="obmenus dir" />
  <separator />
  <separator label="applications" />
  <menu id="apps-graphics-menu"/>
  <menu id="apps-net-menu" label="internet">
    <item label="firefox">
      <action name="Execute"><command>firefox</command></action>
    </item>
    <item label="chromium">
      <action name="Execute"><command>chromium</command></action>
    </item>
    <item label="slack">
      <action name="Execute"><command>slack</command></action>
    </item>
  </menu>
  <menu id="apps-office-menu"/>
  <menu id="apps-multimedia-menu"/>
  <separator />
  <separator label="system" />
  <menu id="volume-menu" label="volume" execute="obmenus volume" />
  <menu id="brightness-menu" label="brightness" execute="obmenus brightness" />
  <menu id="processes-menu" label="processes" execute="obmenus processes" />
  <menu id="openbox-menu" label="openbox">
    <item label="obconf">
      <action name="Execute">
        <command>obconf</command>
        <startupnotify><enabled>yes</enabled></startupnotify>
      </action>
    </item>
    <item label="reconfigure">
      <action name="reconfigure" />
    </item>
  </menu>
  <menu id="exit-menu" />
</menu>

</openbox_menu>
